# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Models
models/
*.pkl
*.joblib

# Data
data/
datasets/

# VS Code
.vscode/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db